# Dependencies
node_modules/

# Production
dist/

# Storybook
storybook-static/

# Mac OS
.DS_Store

#purpose
01-extraction-plan.md

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local
